.arrow{
  width: 60%; 
  margin: 0 auto; 
  background-color: aliceblue;
  padding: 10px;
  margin-top: 10%;
  /* height: 10%; */
 
 
}

.ty{
  color: rgb(31, 171, 206);
  margin-top: 15px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .main{
    width: 100%;
    margin: 0;
   }
}
 
